[submodule "thirdparties/TestU01"]
	path = thirdparties/TestU01
	url = https://github.com/blep/TestU01.git
[submodule "thirdparties/pcg-c"]
	path = thirdparties/pcg-c
	url = https://github.com/blep/pcg-c.git
[submodule "thirdparties/smhasher"]
	path = thirdparties/smhasher
	url = https://github.com/blep/smhasher-official.git
[submodule "thirdparties/siphash-c"]
	path = thirdparties/siphash-c
	url = https://github.com/blep/siphash-c.git
